# Kaggle Restaurant Price Prediction
- - - 
- - - 
- - -

In [3]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\muhlis\anaconda3\lib\site-packages (1.5.12)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dateutil in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (1.25.9)
Requirement already satisfied: six>=1.10 in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (4.47.0)
Requirement already satisfied: python-slugify in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\muhlis\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\muhlis\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\muhlis\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)

In [6]:
!kaggle competitions download -c restaurant-revenue-prediction

Downloading restaurant-revenue-prediction.zip to C:\Users\MUHLIS\Desktop\66daysofdata\Python\20210622  - Restaurant Price prediction

  0%|          | 0.00/2.68M [00:00<?, ?B/s]
 37%|###7      | 1.00M/2.68M [00:00<00:00, 2.16MB/s]
 75%|#######4  | 2.00M/2.68M [00:00<00:00, 2.28MB/s]
100%|##########| 2.68M/2.68M [00:01<00:00, 1.79MB/s]
100%|##########| 2.68M/2.68M [00:01<00:00, 1.90MB/s]

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F48C-6A56

 Directory of C:\Users\MUHLIS\Desktop\66daysofdata\Python\20210622  - Restaurant Price prediction

06/22/2021  07:38 PM    <DIR>          .
06/22/2021  07:38 PM    <DIR>          ..
06/22/2021  07:29 PM    <DIR>          .ipynb_checkpoints
06/22/2021  07:25 PM    <DIR>          1.Original Data
05/11/2021  04:15 PM    <DIR>          2.Prepared Data
06/22/2021  07:25 PM    <DIR>          3.Uploaded Data
12/22/2019  02:23 PM    <DIR>          4.Analysis
12/22/2019  02:23 PM    <DIR>          5.Insights
12/22/2019  02:23 PM    <DIR>          6.Final
05/29/2021  05:59 AM                64 kaggle.json
06/22/2021  07:37 PM             3,011 Restaurant Price prediction.ipynb
06/22/2021  07:38 PM         2,807,887 restaurant-revenue-prediction.zip
               3 File(s)      2,810,962 bytes
               9 Dir(s)  50,569,510,912 bytes free

### Importing data

In [9]:

# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [10]:
# Setting the options for showing rows and columns
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 500)

In [11]:
train_df = pd.read_csv("2.Prepared Data\\train.csv")

In [12]:
train_df.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,Ä°stanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,5,4,5,5,3,5,5.0,1,2,2,2,4,5,4,1,3,3,1,1,1.0,4.0,2.0,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,5,5,5,5,1,5,5.0,0,0,0,0,0,3,2,1,3,2,0,0,0.0,0.0,3.0,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,DiyarbakÄ±r,Other,IL,2,4.0,2.0,5.0,2,3,5,5,5,5,2,5,5.0,0,0,0,0,0,1,1,1,1,1,0,0,0.0,0.0,1.0,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,10,8,10,10,8,10,7.5,6,4,9,3,12,20,12,6,1,10,2,2,2.5,2.5,2.5,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,5,5,5,5,2,5,5.0,2,1,2,1,4,2,2,1,2,1,2,3,3.0,5.0,1.0,3.0,5,1,3,2,3,4,3,3,4316715.0

In [13]:
print("shape of training data", train_df.shape)

shape of training data (137, 43)

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

In [57]:
des.loc["data_type"] = [train_df[i].dtype for i in train_df.columns]

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
count,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137
unique,NaN,134,34,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,02/02/2012,Ä°stanbul,Big Cities,FC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,2,50,78,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,68,NaN,NaN,NaN,NaN,4.0146,4.40876,4.31752,4.37226,2.0073,3.35766,5.42336,5.15328,5.44526,5.48905,3.26277,5.29927,5.08029,1.41606,1.38686,1.94161,1.0365,1.94161,4.90511,4.54745,2.27007,2.22628,3.42336,1.37226,1.21168,1.4708,1.14599,3.22263,3.13504,2.72993,1.94161,2.52555,1.13869,2.48905,2.0292,2.21168,1.11679,4.45353e+06
std,39.6926,NaN,NaN,NaN,NaN,2.91039,1.5149,1.03234,1.01646,1.20962,2.13424,2.29681,1.85857,1.83479,1.84756,1.91077,1.94167,1.03653,2.72958,2.39868,3.50581,2.03068,3.30055,5.60447,3.70804,2.05263,1.23069,4.55961,2.30411,2.13318,2.61202,2.06704,2.30881,1.68089,5.53665,3.51209,5.23012,1.69854,5.16509,3.43627,4.16821,1.79077,2.57607e+06
min,0,NaN,NaN,NaN,NaN,1,1,0,3,1,1,1,1,4,4,1,2,3,0,0,0,0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1.14987e+06
25%,34,NaN,NaN,NaN,NaN,2,4,4,4,1,2,5,4,4,5,2,4,5,0,0,0,0,0,2,2,1,1,1,0,0,0,0,2,2.5,0,0,0,0,0,0,0,0,2.99907e+06
50%,68,NaN,NaN,NaN,NaN,3,5,4,4,2,3,5,5,5,5,3,5,5,0,0,0,0,0,3,4,1,2,2,0,0,0,0,2.5,3,0,0,0,0,0,0,0,0,3.9398e+06
75%,102,NaN,NaN,NaN,NaN,4,5,5,5,2,4,5,5,5,5,4,5,5,2,2,3,1,4,5,5,3,3,5,2,2,2.5,2,4,3,4,3,3,2,3,4,3,2,5.16664e+06
max,136,NaN,NaN,NaN,NaN,12,7.5,7.5,7.5,8,10,10,10,10,10,10,10,7.5,15,10,15,15,12,25,15,15,5,25,10,10,12.5,12.5,12.5,7.5,25,15,25,6,24,15,20,8,1.96969e+07
11,int64,object,object,object,object,int64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,float64
data_type,int64,object,object,object,object,int64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,float64

In [22]:
des = train_df.describe(include = "all")
des

pandas.core.frame.DataFrame

In [25]:
len(train_df.index)

137

In [30]:
df = [i for i in train_df.columns]

### Data Wrangling

In [ ]:
df